@import './gallery';

form {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 10px 15px;
  background-color: rgb(72, 60, 175);
}

input {
  display: block;
  width: 100%;
}

.modal {
  overflow: hidden;

  img,
  a {
    display: block;
  }
}
